{% load static %}

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Active Members</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <div id="page">
    <header id="cabecalho">
      <div class="filho-cabecalho">
        <a href='https://www.freecodecamp.org/'><button class="botao-cabecalho">APOIE</button></a>
        <a href='https://www.freecodecamp.org/'><button class="botao-cabecalho">DÚVIDAS FREQUENTES</button></a>
      </div>
      <a href='https://www.freecodecamp.org/'><img src="https://static.tildacdn.one/tild3366-3362-4431-a639-343464616530/logo-pequeno.png" class="logo"></a>
      <div class="filho-cabecalho">
        <a href='https://www.freecodecamp.org/'><button class="botao-cabecalho">ACESSAR MINHA CONTA</button></a>
      </div>
    </header>
    <div id="main">
      <div id="firstconteiner">
        <!--
        <div class="firstinfo">
          <h1>Novidades</h1>
          <p>Cooperação é uma ação conjunta para uma finalidade, objetivo em comum. Cooperação é uma relação baseada
            entre
            indivíduos ou organizações, utilizando métodos mais ou menos consensuais. A cooperação opõe-se, de certa
            forma,
            à colaboração e mesmo a competição.</p>
        </div>
        -->
        <div class="firstinfo">
            <div class="titulonews">
              <h1>Faça parte da nossa Newsletter</h1>
            </div>
            <div class="dadosnews">
              <input class="entrance" type="text" name="input" value="Digite seu nome"/>
              <input class="entrance" type="text" name="input" value="Digite seu e-mail"/>
              <input class="entrance" type="text" name="input" value="Digite seu número de telefone"/>
            </div>
        </div>
      </div>
      <div id="secondconteiner">
        <div class="secondinfo">
          <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=600" class="dog">
          <p class="dogmau">CACHORRO CHUPETÃO</p>
          <p class="secondtext">Cooperação é uma ação conjunta para uma finalidade, objetivo em comum. Cooperação é uma relação baseada entre indivíduos ou organizações, utilizando métodos mais ou menos consensuais. A cooperação opõe-se, de certa forma, à colaboração e mesmo a competição.</p>
          <button class="secondbutton">APOIE</button>
        </div>
        <div class="secondinfo">
          <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="dog">
          <p class="dogmau">CACHORRO CHUPETÃO</p>
          <p class="secondtext">Cooperação é uma ação conjunta para uma finalidade, objetivo em comum. Cooperação é uma relação baseada entre indivíduos ou organizações, utilizando métodos mais ou menos consensuais. A cooperação opõe-se, de certa forma, à colaboração e mesmo a competição.</p>
          <button class="secondbutton">APOIE</button>
        </div>
        <div class="secondinfo">
          <img src="https://images.pexels.com/photos/834863/pexels-photo-834863.jpeg?auto=compress&cs=tinysrgb&w=600" class="dog">
          <p class="dogmau">CACHORRO CHUPETÃO</p>
          <p class="secondtext">Cooperação é uma ação conjunta para uma finalidade, objetivo em comum. Cooperação é uma relação baseada entre indivíduos ou organizações, utilizando métodos mais ou menos consensuais. A cooperação opõe-se, de certa forma, à colaboração e mesmo a competição.</p>
          <button class="secondbutton">APOIE</button>
        </div>
      </div>
    </div>
    <footer id="rodape">
      <div class="infos"></div>
    </footer>
  </div>
</body>

</html>