<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Active Members</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
  <div id="page">
    <header id="cabecalho">
      <div class="filho-cabecalho">
        <a href='https://www.freecodecamp.org/'><button class="botao-cabecalho">APOIE</button></a>
        <a href='https://www.freecodecamp.org/'><button class="botao-cabecalho">DÚVIDAS FREQUENTES</button></a>
      </div>
      <a href='https://www.freecodecamp.org/'><img src="/static/imagens/césar-2.png" class="logo"></a>
      <div class="filho-cabecalho">
        <a href='https://www.freecodecamp.org/'><button class="botao-cabecalho">ACESSAR MINHA CONTA</button></a>
      </div>
    </header>
    <div id="main">
      <div id="primeiroconteiner">
        <div class="primeirainfo">
            <div class="titulonewslatter">
              <h1>Faça parte da nossa Newsletter</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="dadosnewslatter">
                    <input class="formulario" type="text" name="username" placeholder="Digite seu nome"/>
                    <input class="formulario" type="email" name="useremail" placeholder="Digite seu e-mail"/>
                    <input class="formulario" type="number" name="userfone" placeholder="Digite seu telefone"/>
                    <button class="enviar" type="submit">ENVIAR</button>
                    Nome digitado: {{username}}<br>
                    email digitado: {{useremail}}<br>
                    Nome digitado: {{userfone}}<br>
                </div>
            </form>
        </div>
      </div>
      <div id="segundoconteiner">
        <div class="segundainfo">
          <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=600" class="dog">
          <p class="dogmau">CACHORRO CHUPETÃO</p>
          <p class="secondtext">Cooperação é uma ação conjunta para uma finalidade, objetivo em comum. Cooperação é uma relação baseada entre indivíduos ou organizações, utilizando métodos mais ou menos consensuais. A cooperação opõe-se, de certa forma, à colaboração e mesmo a competição.</p>
          <button class="secondbutton">APOIE</button>
        </div>
        <div class="segundainfo">
          <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="dog">
          <p class="dogmau">CACHORRO CHUPETÃO</p>
          <p class="secondtext">Cooperação é uma ação conjunta para uma finalidade, objetivo em comum. Cooperação é uma relação baseada entre indivíduos ou organizações, utilizando métodos mais ou menos consensuais. A cooperação opõe-se, de certa forma, à colaboração e mesmo a competição.</p>
          <button class="secondbutton">APOIE</button>
        </div>
        <div class="segundainfo">
          <img src="https://images.pexels.com/photos/834863/pexels-photo-834863.jpeg?auto=compress&cs=tinysrgb&w=600" class="dog">
          <p class="dogmau">CACHORRO CHUPETÃO</p>
          <p class="secondtext">Cooperação é uma ação conjunta para uma finalidade, objetivo em comum. Cooperação é uma relação baseada entre indivíduos ou organizações, utilizando métodos mais ou menos consensuais. A cooperação opõe-se, de certa forma, à colaboração e mesmo a competição.</p>
          <button class="secondbutton">APOIE</button>
        </div>
      </div>
    </div>
    <footer id="rodape">
      <div class="infosrodape">
        <div class="sobre">
            <button class="botaorodape">Apoie</button>
            <button class="botaorodape">Assinaturas</button>
            <button class="botaorodape">Política de privacidade</button>
          </div>
          <div class="sobre">
            <button class="botaorodape">Contato</button>
            <button class="botaorodape">Institucional</button>
            <button class="botaorodape">Novidades</button>
          </div>
        </div>
        <img src="/static/imagens/certified.png" class="certificado">
    </footer>
  </div>
</body>

</html>